.dashboardPage {
  padding: 2rem;

  h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
  }
  h4{
    text-align: right;
  }
}


@media screen and (max-width: 450px) {
  h4{
    text-align: center !important;
  }
  
}