.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  h2 {
    font-size: 2rem;
    color: #333;
  }

  .formsContainer {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .homePage{
    .formsContainer{
      flex-direction: column;
    }
  }
}